<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="/create_tracker_cargo/{{ tid }}">
    <table border="1" cellspacing="0">
        {% csrf_token %}
        {{ form.as_table }}
        <tr>
            <td>&nbsp;</td>
            <td style="align: right;">
                {% if operation == 'insert' %}
                <input type="submit" name="insert" value="Track a Cargo"/>
                {% else %}
                <input type="hidden" name="pid" value="{{ pid }}"/>
                <input type="submit" name="update" value="Update product"/>
                <input type="submit" name="delete" value="Remove the product"/>
                {% endif %}
            </td>
        </tr>
        </table>
</form>
<center><button onClick="window.location.reload();">Refresh</button></center><br>
</body>
</html>